<h1>Survey Maker</h1>

<hr>

<% if @surveys.any?() %>
  <ul>
    <% @surveys.each() do |survey| %>
      <li><%= survey.title() %></li>
    <%end%>
  </ul>

<% else %>
  <p>There are no surveys yet!</p>
<% end %>
