<h1><%= @survey.title() %></h1>

<hr>

<% if @this_surveys_questions.any?() %>
  <ol>
    <% @this_surveys_questions.each() do |question| %>
      <li><%= question.question() %>  |  <a href="/questions/<%= question.id() %>/edit">Update</a></li>
    <% end %>
  </ol>

<% else %>
  <p>There are no questions yet!</p>
<% end %>

<hr>

<a href="/">Click here to go back to Survey Maker.</a>
